body {
    margin: 1rem;
    text-align: center;
}

.game-header {
    background-color: aquamarine;
    border-radius: 1rem;
    border: 2px solid darkcyan;
    padding: 1rem;
}

h1 {
    color: blueviolet;
    font-size: 2.5rem;
    font-family: fantasy;
}

p {
    color: darkcyan;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

img {
    width: 5rem;
    height: 6rem;
}

.player-card,
.turn-panel {
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid darkcyan;
}

button {
    background-color: aquamarine;
    color: blueviolet;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid blueviolet;
    padding: 1.5rem;
}

.dice {
    display: grid;
    width: 5rem;
    height: 5rem;
    place-items: center;
    border-radius: 1rem;
    border: 2px solid blueviolet;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.8rem auto;
}